videoAnnotation/data/images/*
videoAnnotation/data/SU-video-mp4/*
videoAnnotation/data/NP-video-mp4/*
videoAnnotation/data/KT-video-mp4/*
videoAnnotation/data/labels-needle-bbox-session/*

videoAnnotation/jhu alias
